//please put the paths as per yours project directory structure
@import "../../node_modules/materialize-css/sass/components/color-variables";

$primary-color: color("blue", "lighten-2") !default;
$secondary-color: green !default;
@import '../../node_modules/materialize-css/sass/materialize';

.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: $secondary-color;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
